<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6">Oficinas </h1>
        <p class="lead">É aqui aonde a magia acontece...</p>
    </div>
</div>

<div class="row">
    <div class="form-group col-6">
        <label for="edtNomeBusca">Busca: </label>
        <input type="text" class="form-control" id="edtNomeBusca" placeholder="Nome da célula">
    </div>

    <div class="form-group col-6">
        <label for="edtLocal"> &nbsp;</label>
        <br/>
        <button class="btn btn-success" ng-click="alerta()">Buscar</button>
        <button class="btn btn-primary">Nova</button>
    </div>
</div>

<form class="form-horizontal" style="display: none">

    <div class="card">
        <h5 class="card-header">Oficina</h5>
        <div class="card-block">
            <div class="row" style="margin: 3px">

                <div class="form-group col-6">
                    <label for="edtNome">Oficina: </label>
                    <input type="text" class="form-control" id="edtNome" placeholder="Oficina">
                </div>

                <div class="form-group col-6">
                    <label for="edtLocal">Local:</label>
                    <input type="text" class="form-control" id="edtLocal" placeholder="Local">
                </div>
            </div>
        </div>
    </div> <!-- NOMES -->

    <br/>

    <div class="card">
        <h5 class="card-header">Formandos</h5>
        <div class="card-block">
            <div class="row" style="margin: 3px">
                <div class="form-group col-6">
                    <label for="edtNomehumano">Nome Humano: </label>
                    <input type="text" class="form-control" id="edtNomehumano" placeholder="Nome de Humano">
                </div>

                <div class="form-group col-6">
                    <label for="edtLocal"> &nbsp;</label>
                    <br/>
                    <button class="btn btn-primary">Adicionar</button>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Nome Humano</th>
                        <th>Nome Palhaço</th>
                        <th>Telefone</th>
                        <th>Seguimento</th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Djonatas Tenfen</td>
                        <td>Mortandela</td>
                        <td>(11)95308-5493</td>
                        <td>Hospital</td>
                        <td><a href="#!/palhacos/2">Remover</a></td>
                        <td><a href="#!/palhacos/2">Ver mais...</a></td>
                    </tr>
                    <tr>
                        <td>Djonatas</td>
                        <td>Mortandela</td>
                        <td>(11)95308-5493</td>
                        <td>Hospital</td>
                        <td><a href="#!/palhacos/2">Remover</a></td>
                        <td><a href="#!/palhacos/2">Ver mais...</a></td>
                    </tr>
                    <tr>
                        <td>Djonatas</td>
                        <td>Mortandela</td>
                        <td>(11)95308-5493</td>
                        <td>Asilo</td>
                        <td><a href="#!/palhacos/2">Remover</a></td>
                        <td><a href="#!/palhacos/2">Ver mais...</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- NOMES -->

</form>