<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6">Cadastro de Padrinhos </h1>
        <p class="lead">Estes serão nossos novos membros ...</p>
    </div>
</div>

<div class="row col-1">
    <button class="btn btn-info" onclick="location.href='#!/padrinhos/busca'" type="button">
        Buscar / Pesquisar</button>
</div>

<br/>

<form class="form-horizontal">

    <div class="card">
        <h5 class="card-header">Nomes</h5>
        <div class="card-block">
            <div class="row" style="margin: 3px">

                <div class="col-2">
                    <img src="http://alessandrafaria.com/wp-content/uploads/2013/10/formato-de-rosto-redondo.jpg"
                         width="90" height="110"
                         class="rounded-circle">
                </div>


                <div class="form-group col-5">
                    <label for="edtNomeHumano">Humano: </label>
                    <input type="text" class="form-control" id="edtNomeHumano" ng-model="data.humano" placeholder="Nome de Humano">
                </div>

                <div class="form-group col-5">
                    <label for="edtNomePalhaco">Palhaço, Dr(a):</label>
                    <input type="text" class="form-control" id="edtNomePalhaco" ng-model="data.palhaco" placeholder="Nome de Palhaço">
                </div>
            </div>
        </div>
    </div> <!-- NOMES -->

    <br/>

    <div class="card">
        <h5 class="card-header">Documentos</h5>
        <div class="card-block">
            <div class="row" style="margin: 3px">
                <div class="form-group col-6">
                    <label for="edtCPF">CPF: </label>
                    <input type="text" class="form-control" id="edtCPF" ng-model="data.cpf" placeholder="CPF">
                </div>

                <div class="form-group col-6">
                    <label for="edtRG">RG: </label>
                    <input type="text" class="form-control" id="edtRG" ng-model="data.rg" placeholder="RG">
                </div>
            </div>
        </div>
    </div> <!-- DOCUMENTOS -->

    <br/>

    <!--
    <div class="card">
        <h5 class="card-header">Visitas de padrinho</h5>
        <div class="card-block">
            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtCelulaHospital">Hospital: </label>
                    <input type="text" class="form-control" id="edtCelulaHospital" ng-model="data.celulaHospital" placeholder="Célula">
                </div>

                <div class="form-group col-4">
                    <label for="dtCelulaHospital"></label>
                    <input type="date" class="form-control" id="dtCelulaHospital" ng-model="data.dtCelulaHospital" placeholder="Célula">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtCelulaAsilo">Asilo: </label>
                    <input type="text" class="form-control" id="edtCelulaAsilo" ng-model="data.celulaAsilo" placeholder="Célula">
                </div>

                <div class="form-group col-4">
                    <label for="dtCelulaAsilo"></label>
                    <input type="date" class="form-control" id="dtCelulaAsilo" ng-model="data.dtCelulaAsilo" placeholder="Célula">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtCelulaAbrigo">Abrigo: </label>
                    <input type="text" class="form-control" id="edtCelulaAbrigo" ng-model="data.celulaAbrigo" placeholder="Célula">
                </div>

                <div class="form-group col-4">
                    <label for="dtCelulaAbrigo"></label>
                    <input type="date" class="form-control" id="dtCelulaAbrigo" ng-model="data.dtCelulaAbrigo" placeholder="Célula">
                </div>
            </div>
        </div>
    </div> <!-- VISITAS -->

    <br/>

    <div class="card">
        <h5 class="card-header">Localização</h5>
        <div class="card-block">

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtEndereco">Endereço: </label>
                    <input type="text" class="form-control" id="edtEndereco" ng-model="data.endereco" placeholder="Endereço">
                </div>

                <div class="form-group col-4">
                    <label for="edtComplemento">Complemento: </label>
                    <input type="text" class="form-control" id="edtComplemento" ng-model="data.complemento" placeholder="Complemento">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtBairro">Bairro: </label>
                    <input type="text" class="form-control" id="edtBairro" ng-model="data.bairro" placeholder="Bairro">
                </div>

                <div class="form-group col-4">
                    <label for="edtCEP">CEP: </label>
                    <input type="text" class="form-control" id="edtCEP" ng-model="data.CEP" placeholder="CEP">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtCidade">Cidade: </label>
                    <input type="text" class="form-control" id="edtCidade" ng-model="data.cidade" placeholder="Cidade">
                </div>

                <div class="form-group col-4">
                    <label for="edtEstado">Estado: </label>
                    <input type="text" class="form-control" id="edtEstado" ng-model="data.estado" placeholder="Estado">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-12">
                    <label for="formControlCentral">Central: </label>
                    <select class="form-control" id="formControlCentral" ng-model="data.central">
                        <option value="0">0 - Nenhum</option>
                        <option value="1" >1 - São Paulo</option>
                        <option value="2" >2 - Rio de Janeiro</option>
                        <option value="3" >3 - São José dos Campos</option>
                        <option value="4" >4 - Mogi Mirim / Mogi Guaçu</option>
                        <option value="5" >5 - Idaiatuba</option>
                    </select>
                </div>
            </div>
        </div>
    </div> <!-- LOCALIZAÇÃO -->

    <br/>

    <div class="card">
        <h5 class="card-header">Comunicação</h5>
        <div class="card-block">

            <div class="row" style="margin: 3px">
                <div class="form-group col-6">
                    <label for="edtTelResidencial">Tel. Residêncial: </label>
                    <input type="text" class="form-control" id="edtTelResidencial" ng-model="data.telResidencial" placeholder="Tel. Residencial">
                </div>

                <div class="form-group col-6">
                    <label for="edtTelCelular">Tel. Celular: </label>
                    <input type="text" class="form-control" id="edtTelCelular" ng-model="data.celular" placeholder="Tel. Celular">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-6">
                    <label for="edtProdfissao">Profissão : </label>
                    <input type="text" class="form-control" id="edtProdfissao" ng-model="data.profissao" placeholder="Profissão">
                </div>

                <div class="form-group col-6">
                    <label for="edtEmpresa">Empresa : </label>
                    <input type="text" class="form-control" id="edtEmpresa" ng-model="data.empresa" placeholder="Empresa">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-12">
                    <label for="edtEmail">E-Mail : </label>
                    <input type="text" class="form-control" id="edtEmail" ng-model="data.email" placeholder="E-Mail">
                </div>
            </div>

        </div>
    </div> <!-- COMUNICAÇÃO -->

    <br/>


    <div class="card">
        <h5 class="card-header">Datas importantes</h5>
        <div class="card-block">
            <div class="row" style="margin: 3px">
                <div class="form-group col-4">
                    <label for="dtaAniversario">Data aniversário: </label>
                    <input type="date" class="form-control" id="dtaAniversario" ng-model="data.dataAniversario" placeholder="Data Aniversário">
                </div>

                <div class="form-group col-4">
                    <label for="dtaEntradaONG">Data entrada ONG: </label>
                    <input type="date" class="form-control" id="dtaEntradaONG" ng-model="data.dataEntradaONG" placeholder="Data Entrada na ONG">
                </div>

                <div class="form-group col-4">
                    <label for="dtaCadastro">Data cadastro: </label>
                    <input type="date" class="form-control" id="dtaCadastro" ng-model="data.dataCadastro" placeholder="Data Cadastro">
                </div>

            </div>
        </div>
    </div>

    <br/>

    <br/>

    <div class="row">
        <div class="col-lg-offset-3">
            &nbsp;
        </div>

        <button class="btn btn-lg btn-success col-lg-4" ng-click="saveGodfatherAngular()">
            Salvar
        </button>
    </div>
</form>

<br/>
<br/>
<br/><br/><br/><br/><br/>