<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6">Celulas </h1>
        <p class="lead">É aqui aonde a magia acontece...</p>
    </div>
</div>

<form class="form-horizontal" id="buscarCelula" ng-show="mode === 1 || mode === 3">
    <div class="row" >
        <div class="form-group col-6">
            <label for="edtNomeBusca">Busca: </label>
            <input type="text" class="form-control" id="edtNomeBusca" ng-model="termoBusca" placeholder="Nome da Celula">
        </div>

        <div class="form-group col-6">
            <label for="edtNomeBusca"></label>
            <br/>
            <button class="btn btn-success" ng-click="buscarCelula(termoBusca)">
                Buscar
            </button>
            <button class="btn btn-primary" ng-click="mode = 2">Nova</button>
        </div>
    </div>
</form>


<form class="form-horizontal" id="novaCelula" ng-show="mode === 2 || mode === 4">

    <div class="row">
        <div class="form-group col-8">
            <label for="edtNome">Nome: </label>
            <input type="text" class="form-control" id="edtNome" ng-model="data.nome" placeholder="Nome da Celular">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-8">
            <label >Dia da visita: </label>
            <table class="table">
                <tr>
                    <th>
                        <input type="radio" class="form-control" id="edtDiaVisita7" name="dia" ng-model="data.diaVisita" value="7">
                    </th>
                    <th>
                        Sábado
                    </th>

                </tr>

                <tr>
                    <th>
                        <input type="radio" class="form-control" id="edtDiaVisita0" name="dia" ng-model="data.diaVisita" value="0">
                    </th>
                    <th>
                        Domingo
                    </th>

                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <label for="formControlCentral">Central: </label>
            <select class="form-control" id="formControlCentral" ng-model="data.central"
                    ng-change="selecionarInstituicoes()">
                <option value="0">0 - Nenhum</option>
                <option value="1" >1 - São Paulo</option>
                <option value="2" >2 - Rio de Janeiro</option>
                <option value="3" >3 - São José dos Campos</option>
                <option value="4" >4 - Mogi Mirim / Mogi Guaçu</option>
                <option value="5" >5 - Idaiatuba</option>
            </select>
        </div>

        <div class="form-group col-6">
            <label for="formControlCentral">Entidade: </label>
            <select class="form-control" ng-model="data.entidadeId">
                <option ng-repeat="value in listaInstituicoes" value="{{value.id}}">
                    {{value.nome}}
                </option>
            </select>
        </div>
    </div>

    <div class="row" style="margin-left: 2px">
        <div class="col-lg-offset-3">
            &nbsp;
        </div>

        <button class="btn btn-lg btn-success col-lg-4" ng-click="salvarCelulaRequest()">
            Salvar
        </button>
    </div>

</form>


<div id="listaCelula" ng-show="mode === 3">
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Dia da visita</th>
            <th>Central</th>
            <th>Entidade</th>
            <th></th>
        </thead>
        <tbody>

        <tr ng-repeat="celula in retornoBusca">
            <td>{{ celula.nome }}</td>
            <td>{{ celula.diaVisita }}</td>
            <td>{{ celula.central }}</td>
            <td>{{ celula.entidade }}</td>
            <td>
                <a class="dropdown-item" href="#!/celulas/{{celula.id}}">
                    Editar
                </a>
            </td>
        </tr>

        </tbody>
    </table>

</div>