<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6">Instituição </h1>
        <p class="lead">O este é nosso picadeiro, espetáculo acontece aqui !</p>
    </div>
</div>

<form class="form-horizontal" id="buscaInstituicao" ng-show="mode === 1 || mode === 3">
    <div class="row" >
        <div class="form-group col-6">
            <label for="edtNomeBusca">Busca: </label>
            <input type="text" class="form-control" id="edtNomeBusca" ng-model="termoBusca" placeholder="Nome da Instituição">
        </div>

        <div class="form-group col-6">
            <label for="edtNomeBusca"></label>
            <br/>
            <button class="btn btn-success" ng-click="buscarInstituicao(termoBusca)">
                Buscar
            </button>
            <button class="btn btn-primary" ng-click="mode = 2">Nova</button>
        </div>
    </div>
</form>

<form class="form-horizontal" id="novaInstituicao" ng-show="mode === 2 || mode === 4">

    <div class="row">

        <div class="form-group col-12">
            <label for="edtNome">Nome: </label>
            <input type="text" class="form-control" id="edtNome" ng-model="data.nome" placeholder="Nome da Instituição">
        </div>

    </div>

    <div class="row">
        <div class="form-group col-4">
            <label for="edtCPF">Contato: </label>
            <input type="text" class="form-control" id="edtCPF" ng-model="data.contato" placeholder="Contato">
        </div>

        <div class="form-group col-4">
            <label for="edtTelefone">Telefone: </label>
            <input type="tel" class="form-control" id="edtTelefone" ng-model="data.telefone" placeholder="Telefone">
        </div>

        <div class="form-group col-4">
            <label for="edtEmail">E-Mail: </label>
            <input type="email" class="form-control" id="edtEmail" ng-model="data.email" placeholder="E-Mail">
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Localização</h5>
        <div class="card-block">

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtEndereco">Endereço: </label>
                    <input type="text" class="form-control" id="edtEndereco" ng-model="data.endereco" placeholder="Endereço">
                </div>

                <div class="form-group col-4">
                    <label for="edtComplemento">Complemento: </label>
                    <input type="text" class="form-control" id="edtComplemento" ng-model="data.complemento" placeholder="Complemento">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtBairro">Bairro: </label>
                    <input type="text" class="form-control" id="edtBairro" ng-model="data.bairro" placeholder="Bairro">
                </div>

                <div class="form-group col-4">
                    <label for="edtCEP">CEP: </label>
                    <input type="text" class="form-control" id="edtCEP" ng-model="data.cep" placeholder="CEP">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-8">
                    <label for="edtCidade">Cidade: </label>
                    <input type="text" class="form-control" id="edtCidade" ng-model="data.cidade" placeholder="Cidade">
                </div>

                <div class="form-group col-4">
                    <label for="edtEstado">Estado: </label>
                    <input type="text" class="form-control" id="edtEstado" ng-model="data.estado" placeholder="Estado">
                </div>
            </div>

            <div class="row" style="margin: 3px">
                <div class="form-group col-12">
                    <label for="formControlCentral">Central: </label>
                    <select class="form-control" id="formControlCentral" ng-model="data.central">
                        <option value="0">0 - Nenhum</option>
                        <option value="1" >1 - São Paulo</option>
                        <option value="2" >2 - Rio de Janeiro</option>
                        <option value="3" >3 - São José dos Campos</option>
                        <option value="4" >4 - Mogi Mirim / Mogi Guaçu</option>
                        <option value="5" >5 - Idaiatuba</option>
                    </select>
                </div>
            </div>
        </div>
    </div> <!-- LOCALIZAÇÃO -->

    <br/>


    <div class="row" style="margin-left: 2px">
        <div class="col-lg-offset-3">
            &nbsp;
        </div>

        <button class="btn btn-lg btn-success col-lg-4" ng-click="salvarInstitutoRequest()">
            Salvar
        </button>
    </div>

</form>


<div id="listaInstituicao" ng-show="mode === 3">
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Contato</th>
            <th>Telefone</th>
            <th>Cidade</th>
            <th></th>
        </thead>
        <tbody>

        <tr ng-repeat="instituicao in retornoBusca">
            <td>{{ instituicao.nome }}</td>
            <td>{{ instituicao.contato }}</td>
            <td>{{ instituicao.telefone }}</td>
            <td>{{ instituicao.cidade }}</td>
            <td>
                <a class="dropdown-item" href="#!/instituicao/{{instituicao.id}}">
                    Editar
                </a>
            </td>
        </tr>

        </tbody>
    </table>

</div>


<br/>
<br/>
<br/><br/><br/><br/><br/>